body,html {
    background: #12151e; 
    color: #bcbcbc;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    min-height: 100%;
}

a{
    color: #91989e;
    text-decoration: none;
}

a:hover{
    color: #c6cace;
    text-decoration: none;
}

/*  CSS PER NAVBAR  */
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: #ffc107;
}

.dropdown-item:hover, .dropdown-item:active{
    color: #ffc107;
    background-color: transparent;
}

.navbar{
    font-family: 'Rubik', sans-serif;
}

.navbar-brand{
    font-size: 30px;
}

.icona-titolo{
    color: #ffc107;
}

.searchInput{
    margin-right: 5px;
}

.fa-search{
    font-size: 25px;
}

.nav-item, .nav-link{
    font-size: 20px;
}

.fa-user-circle{
    font-size: 30px;
}

.btnCerca{
    margin-right: 10px;
    color: inherit;
    background-color: transparent;
    border: 0px;
}

.btnCerca:hover, .btnCerca:active, .btnCerca:focus{
    border: 0;
    background-color: transparent;
    color: #ffc107
}


/*    CSS HOMEPAGE    */
.hero-image {
    background-image: linear-gradient(rgba(24, 26, 40, 0.57), rgb(16, 21, 30)), url("./media/bg1.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 750px;
}

.bg-dark{
    background-color: transparent !important;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.formHome{
    display: grid !important; 
}

.btnIndex{
    margin-right: 5px;
    margin-bottom: 15px;
}

.titoloHomepage{
    font-size: 55px;
}

.logoHome{
    padding: 1%;
}

/*  CSS FOOTER HOMEPAGE */
.footerHome {
    clear: both;
    position: relative;
    text-align: center;
}

/*  CSS PER LOGIN/REGISTRATI    */
.account-form{
    width: 400px;
    margin: auto;
    margin-top: 5%;
}

.account-form-registrati{
    margin-top: 3%;
}

/*  CSS PER FILM    */
.filmItem{
    margin-right: 10%;
    margin-bottom: 10%;
}

.scelteFilm{
    width: 220px;
    margin-left: 16%;
    margin-bottom: 2%;
}

.scelteCustom{
    background-color: aliceblue;
    border-radius: 15px;
    width: 115px;
}

.dropdownItemCustomTipo, .dropdownItemCustomTipo:hover{
    color: #12151e;
}

.col-lg-2{
    width: 185px;
}

.btn-like{
    margin-left: 10px;
    border-radius: 30px;
    border: 0px;
}

/*  CSS PER LOADING LOGO    */
.loadingLogo{
    text-align: center;
}

/*  CSS PER SETTING UTENTE */
.th:nth-child(1){
    width: 70px;
}

/*CSS PER MOBILE*/
@media only screen and (max-width: 768px) {
    /*  CSS NAVBAR  */
    .navbar-brand{
        font-size: 25px;
    }

    .btnCerca{
        text-align: left;
    }    

    .fa-search{
        margin-left: -7px;
        font-size: 20px;
    }

    /*  CSS HOMEPAGE    */
    .btnIndex{
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .titoloHomepage{
        font-size: 40px;
    }

    /*  CSS PER LOGIN/REGISTRATI    */
    .account-form{
        width: 360px;
        margin: auto;
        margin-top: 5%;
    }

    .account-form-div{
        padding: 4%;
    }

    /*  CSS FILM    */
    .scelteFilm{
        margin-left: 0px;
        margin-bottom: 5%;
    }
    
    .elencoFilm{
        margin-left: 5.5%;
    }

}